@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body
{
	margin: 0px;
	padding: 0;
	min-height: 100vh;
	font-family: 'PT Sans Narrow', sans-serif;
}
.open
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}
.open .layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
	background: #000;
	z-index: 2;
}
.open .layer:nth-child(2)
{
	background: #03a9f4;
	animation-delay: 0s;
	z-index: 1;
}
.logo{
	float: left;
    width: 60px
}
.navigation-bar{
	background-color: #772c3f;
    height: 70px;
    width: 100%;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}
section
{
	margin-top: 4px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(253, 253, 229);
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.bannerText
{
	position: absolute;
	font: 10px;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	max-width: 550px;
}
.bannerText h2,
.bannerText h3
{
	position: relative;
	color: rgb(2, 95, 75);
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
	transform: scaleX(0);
	animation: revealTextReverse 1s ease-in-out forwards;
}
.bannerText h2
{
	font-size: 50px;
	animation-delay: 1s;
}
.bannerText h3
{
	font-size: 2em;
	animation-delay: 1s;
}
.bannerText h2:before,
.bannerText h3:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 100%;
	height: 100%;
	transform-origin: right;
	animation: revealText 1s ease-in-out forwards;
	animation-delay: 2s;
}
.bannerText h3:before
{
	animation-delay: 2s;
}
@keyframes revealText
{
	0%
	{
		transform: scaleX(1);
	}
	100%
	{
		transform: scaleX(0);
	}
}
@keyframes revealTextReverse
{
	0%
	{
		transform: scaleX(0);
	}
	100%
	{
		transform: scaleX(1);
	}
}
.bannerText p
{
	opacity: 0;
	font-weight: 400;
	font-size: 1.2em;
	animation: fadeIn 1s linear forwards;
	animation-delay: 4s;
}
@keyframes fadeIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
.bannerText a
{
	opacity: 0;
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 1px;
	animation: fadeInBottom 0.5s linear forwards;
	animation-delay: 3s;
}
@keyframes fadeInBottom
{
	0%
	{
		transform: translateY(50px);
		opacity: 0;
	}
	100%
	{
		transform: translateY(0);
		opacity: 1;
	}
}
.bulb
{
	opacity: 0;
	position: absolute;
	right: 10%;
	top: 50%;
	width: 40%;
	transform: translateY(-50%);
	animation: fadeIn 1s linear forwards;
	animation-delay: 3s;
	z-index: 100;
}
.sci
{
	position: absolute;
	bottom: 15px;
	right: 30px;
	display: flex;
	flex-direction: column;
}
.sci li
{
	opacity: 0;
	list-style: none;
	padding: 10px 0;
	text-align: center;
	animation: fadeInBottom 0.5s linear forwards;
}
.header ul li:nth-child(1),
.sci li:nth-child(1)
{
	animation-delay: 5s;
}
.header ul li:nth-child(2),
.sci li:nth-child(2)
{
	animation-delay: 3s;
}
.header ul li:nth-child(3),
.sci li:nth-child(3)
{
	animation-delay: 3s;
}
.header ul li:nth-child(4),
.sci li:nth-child(4)
{
	animation-delay: 3s;
}
.header ul li:nth-child(5),
.sci li:nth-child(5)
{
	animation-delay: 3s;
}
.header ul li:nth-child(6),
.sci li:nth-child(6)
{
	animation-delay: 3s;
}
.sci li a
{
	font-size: 1.2em;
	color: #000;
}
.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}
.header .logo
{
	opacity: 0;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-transform: uppercase;
	animation: fadeIn 0.5s linear forwards;
	animation-delay: 3s;
}
.header ul
{
	margin: 0;
	padding: 0;
	z-index: 100;
	display: flex;
}
.header ul li
{
	opacity: 0;
	list-style: none;
	margin: 0 10px;
	animation: fadeInRight 0.5s linear forwards;
}
.header ul li:last-child
{
	margin-right: 0;
}
.header ul li a
{
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
	padding: 5px 10px;
	letter-spacing: 2px;
}
.header ul li a.active,
.header ul li a:hover
{
	background: #000;
	color: #fff;
}
@keyframes fadeInRight
{
	0%
	{
		transform: translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0);
		opacity: 1;
	}
}
.element1
{
	opacity: 0;
	position: absolute;
	bottom: -150px;
	right: 40%;
	width: 250px;
	height: 250px;
	border: 40px solid #000;
	animation: rotate 40s linear infinite, fadeIn 1s linear forwards;
	animation-delay: 5s;
}
.element2
{
	opacity: 0;
	position: absolute;
	left: -10px;
	top: 40%;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
	animation: rotate 30s linear infinite, fadeIn 1s linear forwards;
	animation-delay: 4s;
}
@keyframes rotate
{
	0%
	{
		transform: rotate(45deg);
	}
	100%
	{
		transform: rotate(405deg);
	}
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
}
.footer{
	padding-top: 700px;
	position: bottom;
	bottom: 0px;
	width: 100%;
	background: rgb(46, 44, 44);
  }
  .main-content{
	display: flex;
  }
  .main-content .box{
	  margin: 50px;
	flex-basis: 50%;
	padding: 40px 40px;
  }
  .box h2{
	color: rgb(255, 255, 255);
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
  }
  .box .content{
	margin: 30px 0 0 0;
	position: relative;
  }
  .box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #8f7b7b;
  }
  .box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #f12020;
	top: -10px;
  }
  .left .content p{
	text-align: justify;
  }
  .left .content .social{
	margin: 20px 0 0 0;
  }
  .left .content .social a{
	padding: 0 2px;
  }
  .left .content .social a span{
	height: 40px;
	width: 40px;
	background: #fdfdfd;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
  }
  .left .content .social a span:hover{
	background: #f12020;
  }
  .center .content .fas{
	font-size: 1.4375rem;
	background: #ffffff;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
  }
  .center .content .fas:hover{
	background: #f12020;
  }
  .center .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	color: #fff;
	padding-left: 10px;
  }
  .center .content .phone{
	margin: 15px 0;
  }
  .right form .text{
	font-size: 1.0625rem;
	margin-bottom: 2px;
	color: #ffffff;
  }
  .right form .msg{
	margin-top: 10px;
  }
  .right form input, .right form .msgForm{
	width: 100%;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
  }
  .right form input:focus,
  .right form .msgForm:focus{
	outline-color: #3498db;
  }
  .right form input{
	height: 35px;
  }
  .right form .btn{
	margin-top: 10px;
  }
  .right form .btn button{
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
  }
  .right form .btn button:hover{
	background: #000;
  }
  .bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;
  }
  .bottom center span{
	color: #ffffff;
  }
  .bottom center a{
	color: #c70a8e;
	text-decoration: none;
  }
  .bottom center a:hover{
	text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
	footer{
	  position: relative;
	  bottom: 0px;
	}
	.main-content{
	  flex-wrap: wrap;
	  flex-direction: column;
	}
	.main-content .box{
	  margin: 5px 0;
	}
  }
